.footer__copyright {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) { 
    .footer__copyright {
    margin-right: 25px;
    }  
}



/* @media screen and (max-width: 1024px) { 
    .footer__copyright {
    margin-right: 25px;
    }  
} */
