.cover {
    position: relative;
    margin: auto;
    margin-top: 92px;
    width: 1184px;
    height: 740px;
    background: url("../../images/cover-trains.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    text-decoration: none;
    z-index: 1;
}
.cover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000 ;
    opacity: 0;
    transition: opacity 0.5s;
}
.cover:hover::before {
    opacity: 0.5;
}

@media screen and (max-width: 1024px) { 
    .cover {
        max-width: 1024px;
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) { 
    .cover {
        max-width: 768px;
        max-height: 480px;
        margin-top: 55px;
    }
}

@media screen and (max-width: 320px) { 
    .cover {
        max-width: 320px;
        max-height: 200px;
        /* margin-top: 20px; */
    }
}