.place__link {
    grid-area: place__link;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.place__link:hover {
    transition: opacity 0.3s;
    opacity: .5 ;
}
