.place__link {
	grid-area: place__link;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}

.place__link:hover {
	transition: opacity 0.3s;
	opacity: 0.8;
}
