.place {
    margin-bottom: 80px;
    max-height: 660px;
    display: grid;
    grid-template-areas:    "place__title place__link"
                            "place__image place__paragraph";
}
.place:last-child {
    margin-bottom: 0; 
}

@media screen and (max-width: 1024px) { 
    .place {
        max-width: 928px;
        max-height: 640px;

    }
}

@media screen and (max-width: 768px) { 
    .place {
        max-width: 720px;
        max-height: 581px;
        margin-bottom: 71px;
    }
}

@media screen and (max-width: 320px) { 
    .place {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        max-height: 1042px;
        margin-bottom: 50px;
    }
}