.footer__link_link-footer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 14px;
}
.footer__link_link-footer:hover {
    transition: opacity 0.3s;
    opacity: .5;
}
    
.footer__link_link-footer:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) { 
    .footer__link_link-footer {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
    }    
    .footer__link_link-footer:last-child {
    margin-bottom: 0;
    }
}
